@charset "UTF-8";
body#principal{
    background-image: url('imagens/wallpaper002.jpg');
}
.quadrado {
    display: inline-block;
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    padding: auto;
    margin: auto; 
    border: 2px solid black;
    border-radius: 5px;
}
div#q1{
    background-color: aqua;
}
div#q2{
    background-image: linear-gradient(to bottom, white, blue);
}
div#q3{
    background-image: url('imagens/pattern001.png');
}
/*Aqui abaixo o css da página fundo003*/
div.bloco{
    background-image: url('imagens/wallpaper002.jpg');
    height: 100px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 10px;
}
div#q4{
    background-position: left top
}
div#q5{
    background-position: center;
}
div#q6{
    background-position: right bottom;
}
/*Aqui abaixo o css da página fundo004*/
body#terciario{
    background-image: url('https://avatars.githubusercontent.com/u/8683378?v=4');
    background-size: 100px 100px;
}
/*Aqui abaixo o css da página fundo006*/
body#fundo{
    background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
main{
    width: 400px;
    padding: 10px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}